
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle noticia</title>
        <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    {% if posts.imagen %}
        <img src="{{ posts.imagen.url }}" alt="">
    {% endif %}
    <h1>{{ posts.titulo }}</h1>
    <p>{{ posts.fecha_creacion }}</p>
    <p>{{ posts.contenido }}</p>

    
        {% if user.is_authenticated and user == posts.autor %}
                <h2><a href="{% url 'post-delete' posts.id %}">Eliminar</a></h2>
        {% endif %}

    <hr>
    <h2> Comentarios </h2>

    {% if user.is_authenticated %}
        <form action="{% url 'comentar-post' posts.id %}" method="post">
            {% csrf_token %}
            {{ form.contenido }}
            <button type="submit"> comentar </button>
        </form>
    {% endif %}

    {% for comentario in posts.comentarios.all %}
        <h2>{{ comentario.autor }}:</h2> {{ comentario.contenido }} <br>
                {% if user.is_authenticated and user == posts.autor %}
                    <a href=""> Eliminar</a>
                    <a href=""> Modificar</a>
                {% endif %}

    {% endfor %}


</body>
</html>